.CocktailDetailPage {
    display: block;
    border: 10px solid black;
    border-radius: 15px;
    width: 400px;
    height: 400px;
    background-color: beige;
    color: black;
    text-decoration: underline;
    justify-self: center;
    align-self: center;
}