.CocktailDetailPage {
    display: grid;
    border: 5px solid #3658A3;
    border-radius: 15px;
    width: 400px;
    height: 400px;
    background-color: rgb(181, 177, 177);
    color: black;
    text-decoration: underline;
    justify-self: center;
    align-self: center;
}

.cdp {
    display: grid;
    justify-content: center;
    align-items: center;
}

.Comments {
    display: grid;
    border: 5px solid #3658A3;
    border-radius: 15px;
    width: 400px;
    height: 400px;
    background-color: rgb(181, 177, 177);
    color: black;
    text-decoration: underline;
    justify-self: center;
    align-self: center;
}