.CommentForm {
    display: block;
    border: 3px solid black;
    border-radius: 15px;
    width: 400px;
    height: 400px;
    background-color: #3658A3;
    color: black;
    text-decoration: underline;
    justify-self: center;
    align-self: center;
}

.CommentFormSection {
    display: grid;
}