img{
    height: 75vmin;
    width: 60vmin;
    border: 2px solid black;
    border-radius: 7px;
}

.RandomCocktailPage {
    display: grid;
    justify-content: center;
    align-content: center;
    border: 5px solid #3658A3;
    border-radius: 15px;
    width: 450px;
    height: 450px;
    background-color: rgb(181, 177, 177);
    color: black;
    text-decoration: underline;
}

.Container {
    display: grid;
    justify-content: center;
    align-items: center;
}

body {
    color: darkred;
   
    font-family: 'Caveat Brush', cursive;
}